body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #0F2A44;
}

input[type="text"],
select,
textarea {
    width: calc(100% - 22px);
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #0F2A44;
}

h1 {
    color: #333;
    font-size: 20px;
    text-align: center;
}

h2,
h3,
h6,
h7,
h8 {
    color: #333;
    margin-top: 10px;
    font-size: 16px;
}

.mi-cuadro {
    background-color: #f9f9f9;
    padding: 1px;
    border-radius: 5px;
    margin-top: 3px;
    border: 1px solid #868c90;
}

.question-section {
    margin-top: 15px;
}

.question-box {
    margin-bottom: 20px;
}

.question-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.question-table th,
.question-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #0F2A44;
}

.yes-no-options {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="file"] {
    margin-top: 10px;
    background-color: #FFEBEE;
}

textarea {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    color: #0F2A44;
}

input[type="submit"] {
    background-color: #CA0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 311px;
}

input[type="submit"]:hover {
    background-color: #CA0000;
}

.excel-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.excel-table th,
.excel-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    color: #0F2A44;
}

.excel-table th {
    background-color: #F5F5F5;
    color: #333;
    font-size: 13px;
}

.excel-table td[contenteditable="true"] {
    background-color: #fff;
    color: #0F2A44;
}

.file-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.file-input-label {
    margin-right: 10px;
}

.file-input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox-container {
    text-align: center;
}

label {
    display: inline-block;
    margin-right: 10px;
   color: #333;
   font-size: 14px;
}

