
#container__login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura al 100% de la vista */
  }
  
  .container__login__monitor {
    width: 300px; /* O ajusta según tus necesidades */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center; 
}
  
  #form-login {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .btn {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .input-error {
    color: red;
    margin-top: 5px;
  }