body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: rgb(0, 149, 199);
  color: white;
  font-weight: 500;
}

#logo {
  margin-right: auto;
}

.navbar-toggler {
  order: 1;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

/* /----CARROUSEL----/ */

#carouselExample {
  max-width: 100%;
  max-height: 600px;
  margin: auto;
  overflow: hidden;
}

#carouselExample .carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* cARDS NÚMERO DE EMERGENCIA */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.grid div {
  padding: 1rem;
  border: 5px solid rgb(0, 149, 199);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 199);
  font-weight: 900;
  text-align: center;
  transition: background-color 0.3s ease;
}

.grid div:hover {
  background-color: rgb(0, 149, 199);
  color: white;
}


/* /-----MEDIA QUERIES----/ */
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    order: 0;
  }

  .navbar-nav {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(0, 149, 199);
    z-index: 1;
    display: none;
    align-items: center;
  }

  .navbar-toggler:focus + .navbar-nav {
    display: flex;
  }

  .navbar-nav a {
    margin: 10px 0;
  }

  #carouselExample {
    max-height: 200px; 
  }

  #carouselExample .carousel-inner img {
    height: auto; /* Ajusta la altura automáticamente */
    max-width: 100%;
  }
}